<!DOCTYPE html>
<html lang="en">
<head>
        <link href="/static/home.css" rel="stylesheet">
  <meta charset="UTF-8">
  <title></title>
</head>
<body class="backcolor ">
<div class="div">
<a href="/by"><img   class="homephoto" src="/static/photo/pngtree-shopping-cart-icon-png-image_1736144-removebg-preview.png"></a>
<a href="/Admin"><img   class="adminphoto" src="/static/photo/pngtree-removing-the-admin-chatting-section-from-messenger-png-image_5642126.png"></a>
<a href="/"><img   class="homephoto" src="/static/photo/Снимок_экрана__35_-removebg-preview.png"></a>
</div>




    {%block content%} {%endblock%}
</body>

</html>