{% extends 'baze.html' %}
{% block content %}
<div class="packet1 "></div>
<div class="packet2"></div>
<p class="price2">499грн</p>
<p class="price4">899грн</p>
<p class="price1"><s>600грн</s>.</p>
<p class="price3"><s>1000грн</s>.</p>
<p class="info">Отримайте доступ до найкращих  </p>
<p class="info2"> фільмів за 499 грн і насолоджуйтеся </p>
<p class="info3"> ексклюзивними знижками на нашому </p>
<p class="info4"> сайті!</p>
<p class="infor2">Отримайте найкращі фільми на </p>
<p class="infor3">нашому сайті за всього 899 грн </p>
<p class="infor4">і насолоджуйтеся ще більшими </p>
<p class="infor5">вигодами!</p>


<a href="/by2" class="packetchel1"> <img   class="" src="/static/photo/image-removebg-preview.png"></a>

<a  href="/by1"  class="packetchel2"> <img   class="" src="/static/photo/image-removebg-preview.png"></a>
{% endblock %}