{%extends 'baze.html' %}
{% block content%}

<form method="post">
    {{form.hidden_tag()}}
    <center><p class="colortext">{{form.username.label}} {{form.username(size=30)}}</p></center>
    <center><p class="colortext">{{form.password.label}} {{form.password(size=30)}}</p></center>
    <center><p class="colortext">{{form.remember_me.label}} {{form.remember_me(size=30)}}</p></center>
    <center><p class="colortext">{{form.submit.label}} {{form.submit(size=30)}}</p></center>

</form>
{%endblock%}